body {
  font-family: Fugaz One, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  background-image: url('Bun image 1.jpg');
  background-position: center;
  color: #333;
}

header {
  background-image: url('bun boy logo.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #616661;
  font-family: Fugaz One;
  color: white;
  padding: 1em 10em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: white;
  margin-left: 1em;
  text-decoration: none;
}

.banner{
   width:100%;
   height:500px;
   background-color: rgba(0,0,0,0.7);
   background-size:cover;
   background-position: center;
   background-repeat:  no-repeat;
   display: flex;
   font-family: Lugrasimo;
   color: white;
   .felipa-regular {
  font-family: "Lugrasimo", serif;
  font-weight: Italic;
  font-style: normal;
 }
   justify-content: left;
   align-items: center;
}
.banner2{
  width:100%;
  height:500px;
  background-color: rgba(255, 0, 0, 0.7);
  background-size:cover;
  background-position: center;
  background-repeat:  no-repeat;
  display: flex;
  font-family: Lugrasimo;
  color: white;
  .felipa-regular {
 font-family: "Lugrasimo", serif;
 font-weight: Italic;
 font-style: normal;
}
  justify-content: left;
  align-items: center;
}
.box {
      border: 1px solid black;
      padding: 10px;
      width: 150px;
      background-color: white;
    }
section {
  padding: 1em;
  background-color:rgba(255, 255, 255, 0.7);
  margin: 1em;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.button-container{
  text-align: center;
  margin-top: 20px;
}
button{
  background-color: aqua;
  color: #333;
  padding: 10px 20px;
  border: #333;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}
button:hover{
  background-color: aquamarine;
}
.booking{
  padding: 1em;
  background-color: rgb(70, 59, 59);
  margin: 1em;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  color: #eee;
  text-align: center;
  padding: 2em;
}

footer {
  text-align: center;
  padding: 1em;
  background-color: #eee;
}
